*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #b9a8c4 ;
}

.barra-superior {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 15px;
  background: linear-gradient(to right, #F0C2BE, #6C557A);
  height: 65px;
  box-shadow: 0 3px 5px #76357c;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 55px;
  position: fixed;
  top: 0;
  left: 0;
  width: 82%;
}

.barra-superior .logo {
  height: 87px;
  margin-left: 92%; /* Esto empuja el logo hacia la derecha */
  margin-top: -15px; 
  padding: 0 0;
}



.Menu{
    height: 100%;
    width: 200px;
    position: absolute;
    background: linear-gradient(to bottom, #ffffff,#f0c2be , #6C557A);
    transition: 0.5s ease;
    transform: translateX(-200px);
    font-size: 20px;
    margin-top: -81px;
}

h1{
 color: #6C557A;
 font-weight: 800;
 text-align: right;
 padding: 10px 0;
 padding-right: 30px;
 pointer-events: none;
}

ul li{
    list-style: none;
}

ul li a{
    color: #6C557A;
    font-weight: 500;
    padding: 9px 0;
    display: flex;
    text-transform: capitalize;
    text-decoration: none;
    transition: 0.2s ease-out;
    gap: 10px;
    font-size: 20px;
}

ul li:hover a{
    color: #f0c2be;
    background-color: #000000;
}

ul li a i{
    color: #6C557A;
    min-width: 25px;
    text-align: center;
}


.lineas-check{
    display: none;
}


.Lineas{
    position: absolute;
    height: 30px;
    width: 30px;
    top: 20px;
    left: 15px;
    z-index: 1;
    cursor: pointer;
    border-radius: 5px;
    background-color: #E6D6AD;
    box-shadow: 0 0 10px #6C557A;
}

.Lineas .common{
    position: absolute;
    height: 2px;
    width: 20px;
    background-color: #6C557A;
    border-radius: 50px;
    transition: 0.3s ease;
}

.Lineas .top_line{
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.Lineas .middle_line{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}


.Lineas .bottom_line{
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
}

input:checked ~ .Lineas .top_line{
    left: 2px;
    top: 14px;
    width: 25px;
    transform: rotate(45deg);
}

input:checked ~ .Lineas .bottom_line{
    left: 2px;
    top: 14px;
    width: 25px;
    transform: rotate(-45deg);
}


input:checked ~ .Lineas .middle_line{
    opacity: 0;
    transform: translateX(20px);
}

input:checked ~.Menu{
    transform: translateX(0);
    box-shadow: 0 0 15px #6C557A;
}
/*DEMAS*/ 

.Titulo{
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    color: #f0c2be;
    margin-top: 80px;
    margin-bottom: 20px;
    text-shadow: 1px 1px 2px, #6C557A 0 0 1em, #6C557A 0 0 0.2em;
}

hr{
    border: none;
    border-top: 1px solid #411e02;
    margin: 10px 0;
    height: 2px;
    margin-bottom: 20px;
}

.Container{
    max-width: 70%;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    background-image: linear-gradient(to right, #6c557a, #f0c2be);
    border-radius: 10px;
    margin-top: 40px ;
}


.Explicacion{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 25px;
    color: black;
    margin-top: 20px;
}

.Botones a{
    height: 40px;
    font-size: 28px;
    width:40%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-left: 25%;
    background-color: #E6D6AD;
    color: #76357c; 
    border-radius: 5px;
    box-shadow: 5px 3px 5px #6C557A; 
}





.contenedor {
  text-align: center;
}

h1 {
  font-size: 28px;
  margin-bottom: 20px;
  font-weight: bold;
  color: #222;
}

/* Estilo para Notificaciones */
.notificaciones {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f0c2be;
  margin: 12px 0;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

 /* opciones notificaciones,idioma y demas */
.opcion {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f0c2be;
  margin: 12px 0;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}




/*  Estilo para Administración de datos */
.Datos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f0c2be;
  margin: 12px 0;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

/*  Estilo para Actualizaciones */
.actualizaciones {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f0c2be;
  margin: 12px 0;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.opcion span {
  display: flex;
  align-items: center;
  font-weight: bold;
  color: #333;
}

.opcion span img {
  width: 28px;
  height: 28px;
  margin-right: 10px;
}



/* Cerrar Sesion */
.btn-cerrar {
  width: 100%;
  margin-top: 20px;
  background: #e6d6ad;
  color: rgb(0, 0, 0);
  font-size: 18px;
  padding: 12px;
  border-radius: 10px;
}

/* ON/OF */
.switch {
  position: center;
  display: inline-block;
  width: 50px;
  height: 26px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: center;
  cursor: pointer;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 15px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px; width: 20px;
  left: 3px; bottom: 3px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}


input:checked + .slider:before {
  transform: translateX(24px);
}

/* Select idioma */
select {
  padding: 5px;
  border-radius: 8px;
  font-weight: bold;
  background-color: #33348a;
  color: #fff;;
}
/* Switch */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: #a75151;
  transition: .4s;
  border-radius: 30px;
}
.slider:before {
  position: absolute;
  content: "";
  height: 24px; width: 24px;
  left: 3px; bottom: 3px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}
/* Activado */
input:checked + .slider {
  background-color: #33348a;
}

/* Bolita movida cuando está activado */
input:checked + .slider:before {
  transform: translateX(30px);
}

/* Estilo para el logo */
.logo {
    position: absolute;   /* Para colocarlo encima de la barra */
    top: 2px;            /* Distancia desde arriba */
    left: 10px;           /* Distancia desde la izquierda */
    width: 110px;          /* Tamaño más pequeño */
    height: auto;         /* Mantiene la proporción */
    z-index: 1000;        /* Para que quede por encima */
}
/*Boton editar perfil*/
.btn-editar {
  display: inline-block;
  background-color: #33348a;
  color: white;
  padding: 8px 15px;
  text-decoration: none;
  border-radius: 8px;

}
